<div class="header">
  <div class="Rectangle2"></div>
  <div class="a1">
    <div class="Frame141">
      <span class="Items">Items</span>
      <button class="btn" (click)="createTodo()">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 14V8H0V6H6V0H8V6H14V8H8V14H6Z" fill="white" />
        </svg>
        Add new item
      </button>
    </div>
  </div>

  <div class="table-container">
    <table class="sortable">
      <tbody>
        <tr class="table-head">
          <td class="table-head-item d-flex">
            <div class="sort-by"></div>
            Item Name
          </td>
          <td class="table-head-item d-flex">
            <div class="sort-by"></div>
            Date
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let item of todos; let i = index" class="table-body" (mouseenter)="mouseEnter(i)"
          (mouseleave)="mouseLeave(i)">
          <td class="table-body-item1">{{item.name}}</td>
          <td class="table-body-item2">{{item.createdAt | date:'d MMM y'}}
          </td>
          <td class="table-body-item3 hide" (click)="editTodo(i)" id="edit-{{i}}">
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2 17H3.4L12.025 8.375L10.625 6.975L2 15.6V17ZM16.3 6.925L12.05 2.725L13.45 1.325C13.8333 0.941667 14.3043 0.75 14.863 0.75C15.421 0.75 15.8917 0.941667 16.275 1.325L17.675 2.725C18.0583 3.10833 18.2583 3.571 18.275 4.113C18.2917 4.65433 18.1083 5.11667 17.725 5.5L16.3 6.925ZM14.85 8.4L4.25 19H0V14.75L10.6 4.15L14.85 8.4Z"
                fill="#27272C" />
            </svg>
          </td>
          <td class="table-body-item4 hide" (click)="deleteTodo(i)" id="delete-{{i}}">
            <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3 18C2.45 18 1.97933 17.8043 1.588 17.413C1.196 17.021 1 16.55 1 16V3H0V1H5V0H11V1H16V3H15V16C15 16.55 14.8043 17.021 14.413 17.413C14.021 17.8043 13.55 18 13 18H3ZM13 3H3V16H13V3ZM5 14H7V5H5V14ZM9 14H11V5H9V14Z"
                fill="#27272C" />
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
