<div class="container">
  <div class="layout">
    <div class="header">
      <div class="logo-container">
        <div class="logo">
        </div>
      </div>
    </div>
    <aside>
      <div class="side-menu">
        <ul>
          <li>
            <div href="#" class="text-fill">
              <span class="menu_icon"><i class="material-icons">legend_toggle</i></span>
              <span class="text">Graph</span>
            </div>
          </li>
          <li class="active">
            <div href="#" class="text-fill">
              <span class="menu_icon"><i class="material-icons">folder_open</i></span>
              <span class="text">Items</span>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  </div>

  <div class="header">
    <div class="Rectangle2"></div>
    <div class="a1">
      <div class="Frame141">
        <span class="Items">Items</span>
        <button class="btn">Add new item</button>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="no-items">
      <h2>No Items</h2>
      <p>Press the button on the top right corner to create your first item.</p>
    </div>
  </div>

</div>

