<div class="layout">
  <div class="header">
    <div class="logo-container">
      <div class="logo">
      </div>
    </div>
  </div>
  <aside>
    <div class="side-menu">
      <ul>
        <!-- <li>
          <div href="#" class="text-fill">
            <span class="menu_icon"><i class="material-icons">legend_toggle</i></span>
            <span class="text">Graph</span>
          </div>
        </li> -->
        <li class="active">
          <div href="#" class="text-fill">
            <span class="menu_icon">
              <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2 16C1.45 16 0.979333 15.8043 0.588 15.413C0.196 15.021 0 14.55 0 14V2C0 1.45 0.196 0.979333 0.588 0.588C0.979333 0.196 1.45 0 2 0H8L10 2H18C18.55 2 19.021 2.196 19.413 2.588C19.8043 2.97933 20 3.45 20 4H9.175L7.175 2H2V14L4.4 6H21.5L18.925 14.575C18.7917 15.0083 18.546 15.3543 18.188 15.613C17.8293 15.871 17.4333 16 17 16H2ZM4.1 14H17L18.8 8H5.9L4.1 14Z"
                  fill="#952212" />
              </svg>
            </span>
            <span class="text">Items</span>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>