<aside id="sidebar_main">
  <div class="sidebar_main_header">
    <div class="sidebar_logo">
      <div class="sSidebar_hide sidebar_logo_large">
        <img class="logo_light" src="../assets/img/laufen-logo1.svg" alt="" width="108px" height="40px"/>
      </div>
    </div>
  </div>

  <div class="menu_section">
    <ul>
      <li>
        <a>
          <span class="menu_icon"><i class="material-icons">send</i></span>
          <span class="menu_title">Email</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
